// Test file for GitWCRev

char* Revision                    = "$WCREV$";
char* RevisionShort               = "$WCREV=7$";
char* CurrentBranch               = "$WCBRANCH$";
char* Modified                    = "$WCMODS?Modified:Not modified$";
char* Unversioned                 = "$WCUNVER?Unversioned items found:no unversioned items$";
char* Date                        = "$WCDATE$";
char* DateUTC                     = "$WCDATEUTC$";
char* CustDate                    = "$WCDATE=%a, %d %B %Y$";
char* CustDateEmpty               = "$WCDATE=$";
char* CustDateInval               = "$WCDATE=%a, %q %B %Y$";
char* CustDateUTC                 = "$WCDATEUTC=%a, %d %B %Y$";
char* TimeNow                     = "$WCNOW$";
char* TimeNowUTC                  = "$WCNOWUTC$";
char* IsTagged                    = "$WCISTAGGED?Tagged:Not tagged$";
char* IsInGit                     = "$WCINGIT?versioned:not versioned$";
char* ModifiedFiles               = "$WCFILEMODS?Modified:Not modified$";
char* HasSubmodule                = "$WCSUBMODULE?Working tree has at least one submodule:Working tree has no submodules$";
char* SubmodulesUp2Date           = "$WCSUBMODULEUP2DATE?All submodules are up2date (checked out HEAD):At least one submodule is not up2date (checked HEAD differs)$";
char* SubmoduleHasModifications   = "$WCMODSINSUBMODULE?At least one submodule has uncommitted items:No submodule has uncommitted items$";
char* SubmoduleHasUnversioned     = "$WCUNVERINSUBMODULE?At least one submodule has unversioned files:No submodule with unversioned files$";
char* ModifiedAlsoInSubmodules    = "$WCMODSFULL?Modified items found (recursively):No modified items found (also not in submodules)$";
char* UnversionedAlsoInSubmodules = "$WCUNVERFULL?Unversioned items found (recursively):No unversioned items found (also not in submodules)$";
char* RevisionCount               = "$WCLOGCOUNT$";
char* RevisionCount16             = "$WCLOGCOUNT&0xFF$";
char* RevisionCountp100           = "$WCLOGCOUNT+100$";
char* RevisionCountm100           = "$WCLOGCOUNT-100$";

#if $WCMODSFULL?1:0$
#error Source is modified
#endif

// EndOfFile
