*.aps
*.cd
*.chm
*.diff
*.log
*.ncb
*.opensdf
*.opendb
*.VC.db
*.patch
*.sdf
*.suo
*.user
*.zip
/doc/Aspell/aspell.bat
/doc/Aspell/Temp.pws
/doc/images/8bit.tmp
/doc/output
/doc/source/*.h
/doc/source/en/pubdate.xml
/doc/source/en/version.xml
/doc/xsl/db_*.xsl
/Languages/.tx
/src/.vs
/src/GitWCRev/GitWCRevCOM.tlb
/src/GitWCRev/GitWCRevCOM_h.h
/src/GitWCRev/GitWCRevCOM_i.c
/src/GitWCRev/Test.txt
/src/GitWCRev/TestW.txt
/src/ipch
/src/TortoiseShell/register.reg
/src/TortoiseShell/register_recover.reg
/Tools
Desktop.ini
IBugTraqProvider_?.?
Thumbs.db
bin
obj
enc_temp_folder
