bin
obj
*.user
*.ncb
*.suo
*.chm
*.aps
*.log
*.cd
*.zip
*.diff
*.patch
ext/scintilla/vcbuild/Release
IBugTraqProvider_?.?
/Tools
/doc/output
/doc/source/*.h
/src/[Rr]elease
/src/[Dd]ebug
/src/*/[Rr]elease
/src/*/[Dd]ebug
/src/*/[Rr]elease_static
/src/*/[Dd]ebug_static
/Languages/[Rr]elease
/Languages/[Dd]ebug
/ext/build/x64/
Thumbs.db
*.cache
/doc/xsl/db_*.xsl
Debug
Release
Debug64
Release64
*.patch
bin-*
/src/TortoiseShell/register.reg
/src/TortoiseShell/register_recover.reg
/doc/source/en/pubdate.xml
/doc/source/en/version.xml
/doc/Aspell/aspell.bat
/sign-x64.bat
/sign-x86.bat
