*.aps
*.cd
*.chm
*.diff
*.log
*.ncb
*.patch
*.suo
*.user
*.zip
/bin
/doc/Aspell/aspell.bat
/doc/images/8bit.tmp
/doc/output
/doc/source/*.h
/doc/source/en/pubdate.xml
/doc/source/en/version.xml
/doc/xsl/db_*.xsl
/Languages/.tx
/Languages/bin
/Languages/obj
/obj
/sign-x64.bat
/sign-x86.bat
/src/ipch
/src/TortoiseGit.opensdf
/src/TortoiseGit.sdf
/src/TortoiseGitSetup/bin
/src/TortoiseGitSetup/obj
/src/TortoiseShell/register.reg
/src/TortoiseShell/register_recover.reg
IBugTraqProvider_?.?
Thumbs.db
