[submodule "ext/apr-util"]
	path = ext/apr-util
	url = git://git.apache.org/apr-util.git
[submodule "ext/apr"]
	path = ext/apr
	url = git://git.apache.org/apr.git
[submodule "ext/tgit"]
	path = ext/tgit
	url = git://repo.or.cz/tgit.git
[submodule "ext/zlib"]
	path = ext/zlib
	url = git://repo.or.cz/zlib.git
[submodule "ext/libcurl"]
	path = ext/libcurl
	url = git://repo.or.cz/libcurl.git
[submodule "ext/libgit2"]
	path = ext/libgit2
	url = git://github.com/lznuaa/libgit2.git
