[submodule "ext/apr-util"]
	path = ext/apr-util
	url = git://git.apache.org/apr-util.git
[submodule "ext/apr"]
	path = ext/apr
	url = git://git.apache.org/apr.git
[submodule "ext/tgit"]
	path = ext/tgit
	url = git://repo.or.cz/tgit.git
