[submodule "ext/apr-util"]
	path = ext/apr-util
	url = https://github.com/apache/apr-util.git
[submodule "ext/apr"]
	path = ext/apr
	url = https://github.com/TortoiseGit/apr.git
[submodule "ext/tgit"]
	path = ext/tgit
	url = https://code.google.com/p/tortoisegit.tgit
[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib.git
[submodule "ext/libgit2"]
	path = ext/libgit2
	url = https://github.com/libgit2/libgit2.git
[submodule "ext/spell"]
	path = ext/spell
	url = http://anongit.freedesktop.org/git/libreoffice/dictionaries.git
[submodule "ext/editorconfig"]
	path = ext/editorconfig
	url = https://github.com/editorconfig/editorconfig-core-c.git
[submodule "ext/pcre"]
	path = ext/pcre
	url = https://code.google.com/p/tortoisegit.pcre/
[submodule "ext/gtest"]
	path = ext/gtest
	url = http://git.chromium.org/external/googletest.git
