Ake Rehnman <ake.rehnman@gmail.com>
Christoph Hannebauer <ch-git@hannebauer.name>
Frank Li <lznuaa@gmail.com> <git.exe' is not recognized as an internal or external command>
Frank Li <lznuaa@gmail.com> <lznuaa@gmail.com>
Frank Li <lznuaa@gmail.com> <Frank.li@freescale.com>
Frank Li <lznuaa@gmail.com> <B20596@.fsl.freescale.net>
Freedragon <freedragon80@yahoo.com> <testuser@mymail.com>
Georg Fischer <snowcoder@gmail.com>
Johan 't Hart <johanthart@gmail.com> <johanthart@gmail.com>
Kai-Chieh Ku <kjackie@gmail.com> <kjackie@gmail.com>
Kai-Chieh Ku <kjackie@gmail.com> <jackie@gmail.com>
Kai-Chieh Ku <kjackie@gmail.com> <jackie@.(none)>
Stefan Küng <stefankueng@gmail.com> <tortoisesvn@gmail.com>
