; Check http://editorconfig.org/ for more informations

[SVNLineDiff.h]
charset                  = utf-8-bom
end_of_line              = crlf
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = tab
indent_size              = 4

[*.h]
end_of_line              = crlf
trim_trailing_whitespace = true
insert_final_newline     = true
indent_style             = space
indent_size              = 2
