<?xml version='1.0'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
	<Product
		  UpgradeCode="YOURGUID-86C7-4D14-AEC0-86416A69ABDE"
		  Name="YourProductName"
		  Id="*"
		  Version="YOURVERSIONNUMBER"
		  Manufacturer="ManufacturerName"
		  Language="1033">
		<Package
				Id="*"
				Keywords="Tortoise,Overlays"
				Description="desc"
				Comments="Provided by TortoiseSVN"
				Manufacturer="ManufacturerName"
				InstallerVersion="200"
				Platform="x86"
				Languages="1033"
				Compressed="yes"
				SummaryCodepage="1252"/>

		<Media Id="1" Cabinet="TOVL.cab" EmbedCab="yes" CompressionLevel="high" />
		
		<Upgrade Id='YOURGUID-86C7-4D14-AEC0-86416A69ABDE'>
			<UpgradeVersion Property="NEWERVERSIONDETECTED" Minimum="YOURVERSIONNUMBER" OnlyDetect="yes" />
		</Upgrade>
		
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='TortoiseOverlays' Name='TortoiseOverlays'>
				<Merge Id='TortoiseOverlaysMerge' Language='0' src='..\..\ext\TortoiseOverlays\TortoiseOverlays-1.0.4.11886-win32.msm' DiskId='1' />
			</Directory>
		</Directory>

		<Feature Id='TortoiseOverlaysPackage' Title='TortoiseOverlays Package' Level='1'>
			<MergeRef Id="TortoiseOverlaysMerge" />
		</Feature>

		<InstallExecuteSequence>
			<!-- AppSearch must be done before RemoveExistingProducts and before FindRelatedProducts -->
			<AppSearch Sequence="1"></AppSearch>
			<RemoveExistingProducts After="InstallValidate">PREVIOUSVERSIONSINSTALLED</RemoveExistingProducts>
			<ScheduleReboot After="RegisterProduct" />
		</InstallExecuteSequence>

	</Product>
</Wix>
