<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Includes.wxi?>
	<?if $(env.Platform) = "win32" ?>
	<?define cf="CommonFilesFolder" ?>
	<?endif ?>
	<?if $(env.Platform) = "x64" ?>
	<?define cf="CommonFiles64Folder" ?>
	<?endif ?>
	<Product
		  UpgradeCode="$(var.UpgradeGuid)"
		Name="TortoiseOverlays"
		  Id="*"
		  Version="$(var.VersionNumberInternal)"
		  Manufacturer="TortoiseSVN"
		  Language="1033">
		<Package
				Id="*"
				Keywords="Tortoise,Overlays"
				Description="Overlayhandler for Tortoise clients"
				Comments="Provided by TortoiseSVN"
				Manufacturer="TortoiseSVN"
				InstallerVersion="200"
				Platform="$(var.PackagePlatforms)"
				Languages="1033"
				Compressed="yes"
				SummaryCodepage="1252"/>

		<Media Id="1" Cabinet="TOVL.cab" EmbedCab="yes" CompressionLevel="high" />
		
		<Upgrade Id='$(var.UpgradeGuid)'>
			<UpgradeVersion Property="NEWERVERSIONDETECTED" Minimum="$(var.VersionNumberInternal)" OnlyDetect="yes" />
		</Upgrade>
		
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='$(var.cf)' Name='Common'>
				<Directory Id='TortoiseOverlays' Name='TortoiseOverlays'>
					<Component Id="C__overlaydll" Guid="$(var.OverlayDll)" Win64="$(var.Win64YesNo)">
						<File Id="F__overlaydll" Name="TortoiseOverlays.dll" DiskId="1" Source="..\..\bin\$(var.ReleasePath)\bin\TortoiseOverlays.dll" KeyPath="yes" />
						<File Id="F__license" Name="License.txt" DiskId="1" Source="License.txt" />
					</Component>

					<?if $(env.Platform) = "win32" ?>
					<?include TortoiseOverlaysDir.wxi?>
					<?endif ?>
					<?if $(env.Platform) = "x64" ?>
					<?include TortoiseOverlaysDirx64.wxi?>
					<?endif ?>

					<Directory Id="D__icons" Name="icons" >
						<Directory Id="D__iconsxpstyle" Name="XPStyle" >
							<Component Id="C__iconsxpstyle" Guid="$(var.GuidIconsXPStyle)" Win64="$(var.Win64YesNo)">
								<File Id="F__XPStyleConflictIcon" Name="NormalIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\NormalIcon.ico" KeyPath="yes" />
								<File Id="F__XPStyleInSubversionIcon" Name="ModifiedIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\ModifiedIcon.ico" />
								<File Id="F__XPStyleModifiedIcon" Name="ConflictIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\ConflictIcon.ico" />
								<File Id="F__XPStyleReadOnlyIcon" Name="DeletedIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\DeletedIcon.ico" />
								<File Id="F__XPStyleDeletedIcon" Name="ReadOnlyIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\ReadOnlyIcon.ico" />
								<File Id="F__XPStyleLockedIcon" Name="LockedIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\LockedIcon.ico" />
								<File Id="F__XPStyleAddedIcon" Name="AddedIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\AddedIcon.ico" />
								<File Id="F__XPStyleIgnoredIcon" Name="IgnoredIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\IgnoredIcon.ico" />
								<File Id="F__XPStyleUnversionedIcon" Name="UnversionedIcon.ico" DiskId="1" Source="..\Resources\Icons\XPStyle\UnversionedIcon.ico" />
							</Component>
						</Directory>
					</Directory>

				</Directory>
			</Directory>
		</Directory>

		<Feature Id='TortoiseOverlaysPackage' Title='TortoiseOverlays Package' Level='1'>
			<ComponentRef Id='C__overlaydll' />
			<ComponentRef Id='C__iconsxpstyle' />
			<ComponentRef Id='OverlayRegistry' />
			<ComponentRef Id='C__machineregistry' />
			<ComponentRef Id='C__approveshellcomponents' />
		</Feature>

		<InstallExecuteSequence>
			<!-- AppSearch must be done before RemoveExistingProducts and before FindRelatedProducts -->
			<AppSearch Sequence="1"></AppSearch>
			<RemoveExistingProducts After="InstallValidate">PREVIOUSVERSIONSINSTALLED</RemoveExistingProducts>
			<ScheduleReboot After="RegisterProduct" />
		</InstallExecuteSequence>

	</Product>
</Wix>
