<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Includes.wxi?>
	<?if $(env.Platform) = "win32" ?>
	<?define cf="CommonFilesFolder" ?>
	<?endif ?>
	<?if $(env.Platform) = "x64" ?>
	<?define cf="CommonFiles64Folder" ?>
	<?endif ?>

	<Module Id='TortoiseOverlays' Language='0' Version='1.0.0.0'>
		<Package Id="$(var.UpgradeGuid)" Description='Overlay handler for Tortoise clients'
				  Comments='Provided by TortoiseSVN'
				  Manufacturer='TortoiseSVN' InstallerVersion='200' />
		
		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='$(var.cf)' Name='Common'>
			
				<Directory Id='TortoiseOverlays' Name='TortoiseOverlays'>
					<Component Id="C__overlaydll" Guid="$(var.OverlayDll)" Win64="$(var.Win64YesNo)">
						<File Id="F__overlaydll" Name="TortoiseOverlays.dll" Source="..\..\bin\$(var.ReleasePath)\bin\TortoiseOverlays.dll" KeyPath="yes" />
						<File Id="F__license" Name="License.txt" Source="License.txt" />
					</Component>

					<?if $(env.Platform) = "win32" ?>
					<?include TortoiseOverlaysDir.wxi?>
					<?endif ?>
					<?if $(env.Platform) = "x64" ?>
					<?include TortoiseOverlaysDirx64.wxi?>
					<?endif ?>

					<Directory Id="D__icons" Name="icons" >
						<Directory Id="D__iconsxpstyle" Name="XPStyle" >
							<Component Id="C__iconsxpstyle" Guid="$(var.GuidIconsXPStyle)" Win64="$(var.Win64YesNo)">
								<File Id="F__XPStyleConflictIcon" Name="NormalIcon.ico" Source="..\Resources\Icons\XPStyle\NormalIcon.ico" KeyPath="yes" />
								<File Id="F__XPStyleInSubversionIcon" Name="ModifiedIcon.ico" Source="..\Resources\Icons\XPStyle\ModifiedIcon.ico" />
								<File Id="F__XPStyleModifiedIcon" Name="ConflictIcon.ico" Source="..\Resources\Icons\XPStyle\ConflictIcon.ico" />
								<File Id="F__XPStyleReadOnlyIcon" Name="DeletedIcon.ico" Source="..\Resources\Icons\XPStyle\DeletedIcon.ico" />
								<File Id="F__XPStyleDeletedIcon" Name="ReadOnlyIcon.ico" Source="..\Resources\Icons\XPStyle\ReadOnlyIcon.ico" />
								<File Id="F__XPStyleLockedIcon" Name="LockedIcon.ico" Source="..\Resources\Icons\XPStyle\LockedIcon.ico" />
								<File Id="F__XPStyleAddedIcon" Name="AddedIcon.ico" Source="..\Resources\Icons\XPStyle\AddedIcon.ico" />
								<File Id="F__XPStyleIgnoredIcon" Name="IgnoredIcon.ico" Source="..\Resources\Icons\XPStyle\IgnoredIcon.ico" />
								<File Id="F__XPStyleUnversionedIcon" Name="UnversionedIcon.ico" Source="..\Resources\Icons\XPStyle\UnversionedIcon.ico" />
							</Component>
						</Directory>
					</Directory>
					
				</Directory>
			</Directory>
		</Directory>
	</Module>
</Wix>
