<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include ../src/TortoiseGitSetup/Includes.wxi?>

	<Product
		UpgradeCode="9ECED698-D4D9-42fd-946D-51CC049D1F6F"
		Name='$(var.LANGNATIVE) Languagepack for TortoiseGit'
		Id='*'
		Language='1033'
		Codepage='1252'
		Version='$(var.VersionNumberInternal)'
		Manufacturer='TortoiseGit'>

		<Package Id='*' Keywords='Installer;TortoiseGit;LanguagePack'
			Description="$(var.LANGNATIVE) language pack for TortoiseGit, v$(var.VersionNumberUserVisible)"
			Comments='https://tortoisegit.org/'
			Manufacturer="TortoiseGit team"
			Platform="$(var.PackagePlatforms)"
			InstallerVersion='405'
			Languages='1033'
			Compressed='yes'
			SummaryCodepage='1252' />

		<MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate" />

		<Media Id='1' Cabinet='langpack.cab' EmbedCab='yes' CompressionLevel="high" />
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" Secure="yes" />

		<Property Id="ALLUSERS" Secure="yes">1</Property>

		<Property Id="COUNTRYID" Value="$(var.COUNTRYID)" />

		<?if $(var.Platform) = "x86" ?>
			<Condition Message="You are attempting to run the 32-bit installer on a 64-bit version of Windows. Please install the 64-bit version of the TortoiseGit language pack instead.">NOT Msix64</Condition>
		<?endif ?>

		<Property Id="INSTALLDIR" Secure="yes">
			<RegistrySearch Id="TGitInstallationDir" Root="HKLM" Key="Software\[Manufacturer]" Name="Directory" Type="raw" Win64="$(var.Win64YesNo)"/>
		</Property>
		<Condition Message="TortoiseGit is not installed. Please install TortoiseGit before installing the language pack">INSTALLDIR</Condition>

		<CustomAction Id="SetLanguage" BinaryKey="CustomActionsDLL" DllEntry="SetLanguage" />
		<Binary Id="CustomActionsDLL" SourceFile="..\bin\$(var.ReleasePath)\bin\CustomActions.dll" />

		<Directory Id='TARGETDIR' Name='SourceDir'>
			<Directory Id='D__ProgramFilesFolder' ShortName="PFiles" Name="Program Files">
				<Directory Id='INSTALLDIR' Name='TortoiseGit'>
					<Directory Id='LanguagesFolder' Name='Languages'>
						<Component Id='Main' Guid='9D004446-94B4-4b9d-8C95-0BD46008A2A5'>
							<?if $(var.TSVNHelpFile) = "$COUNTRYCODE$" ?>
								<File Id='HELPPROC' Name='TortoiseSVN_$COUNTRYCODE$.chm' DiskId='1' Source='..\doc\output\TortoiseSVN_$COUNTRYCODE$.chm' Vital='no'></File>
							<?endif?>
							<?if $(var.TMergeHelpFile) = "$COUNTRYCODE$" ?>
								<File Id='HELPMERG' Name='TortoiseMerge_$COUNTRYCODE$.chm' DiskId='1' Source='..\doc\output\TortoiseMerge_$COUNTRYCODE$.chm' Vital='no'></File>
							<?endif?>
							<?ifdef var.SPELL ?>
								<?include spell/$(var.COUNTRYID).wxi?>
							<?endif?>
							<File Id='PROCDLL' Name='TortoiseProc$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\Languages\TortoiseProc$(var.COUNTRYID).dll' Vital='yes'></File>
							<File Id='MERGDLL' Name='TortoiseMerge$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\Languages\TortoiseMerge$(var.COUNTRYID).dll' Vital='yes'></File>
							<File Id='BLAMDLL' Name='TortoiseGitBlame$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\Languages\TortoiseGitBlame$(var.COUNTRYID).dll' Vital='yes'></File>
							<File Id='IDIFDLL' Name='TortoiseIDiff$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\Languages\TortoiseIDiff$(var.COUNTRYID).dll' Vital='yes'></File>
							<File Id='UDIFDLL' Name='TortoiseGitUDiff$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\Languages\TortoiseGitUDiff$(var.COUNTRYID).dll' Vital='yes'></File>

							<?if $(var.Platform) = "x64" ?>
								<File Id='PROCDLL32' Name='TortoiseProc32$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath32)\Languages\TortoiseProc$(var.COUNTRYID).dll' Vital='yes'></File>
							<?endif ?>
						</Component>
					</Directory>
				</Directory>
			</Directory>
		</Directory>

		<Feature Id='Complete' Title='Binaries' Description='The complete language pack.'
			Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
			<Feature Id='Main' Title='Program' Description='The language pack files.' Level='1'>
				<ComponentRef Id='Main' />
			</Feature>
		</Feature>

		<UIRef Id="WixUI_LanguagePack" />
		<UIRef Id="WixUI_ErrorProgressText" />

		<WixVariable Id="WixUIBannerBmp" Value="Banner.jpg" />
		<WixVariable Id="WixUIDialogBmp" Value="Dialog.jpg" />

		<Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Configure TortoiseGit to use this language" />
		<UI>
			<Publish Dialog="MyExitDialog" Control="Finish" Event="DoAction" Value="SetLanguage">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
		</UI>

		<InstallExecuteSequence>
			<!-- These 'Suppress' statements prevent the installer from getting
				 registered and from being shown in the software panel. With both
				 suppressed, the installer simply copies the files without any
				 trace left. -->
			<PublishProduct Suppress='yes' />
			<RegisterProduct Suppress='yes' />
			<RegisterUser Suppress='yes' />
			<PublishFeatures Suppress='yes' />
		</InstallExecuteSequence>
	</Product>
</Wix>
