<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include ../src/TortoiseGitSetup/Includes.wxi?>

  <Product
  UpgradeCode="9ECED698-D4D9-42fd-946D-51CC049D1F6F"
  Name='$(var.LANGNATIVE) Languagepack for TortoiseGit'
  Id='*'
  Language='1033'
  Codepage='1252'
  Version='$(var.VersionNumberInternal)'
  Manufacturer='TortoiseGit'>

    <Package Id='*' Keywords='Installer'
      Description="$LANGUI$ language pack for TortoiseGit"
      Comments='http://code.google.com/p/tortoisegit' 
      Manufacturer="Frank Li, Sven Strickroth" 
      Platform="$(var.PackagePlatforms)"  
      InstallerVersion='301' 
      Languages='1033' 
      Compressed='yes' 
      SummaryCodepage='1252' />

    <MajorUpgrade AllowDowngrades="yes" Schedule="afterInstallValidate" />

    <Media Id='1' Cabinet='langpack.cab' EmbedCab='yes' CompressionLevel="high" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" Secure="yes" />

	<Property Id="ALLUSERS" Secure="yes">1</Property>

    <?if $(var.Platform) = "x86" ?>
        <Condition Message="You are attempting to run the 32-bit installer on a 64-bit version of Windows. Please install the 64-bit version of the TortoiseGit language pack instead.">NOT Msix64</Condition>
    <?endif ?>

    <Property Id="INSTALLDIR" Secure="yes">
      <RegistrySearch Id="TGitInstallationDir" Root="HKLM" Key="Software\[Manufacturer]" Name="Directory" Type="raw" Win64="$(var.Win64YesNo)"/>
    </Property>
    <Condition Message="TortoiseGit is not installed. Please install TortoiseGit before installing the language pack">INSTALLDIR</Condition>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='D__ProgramFilesFolder' ShortName="PFiles" Name="Program Files">
        <Directory Id='INSTALLDIR' Name='TortoiseGit'>
          <Directory Id='LanguagesFolder' Name='Languages'>
            <Component Id='Main' Guid='9D004446-94B4-4b9d-8C95-0BD46008A2A5'>
              <?if $(var.TSVNHelpFile) = "$COUNTRYCODE$" ?>
              <File Id='HELPPROC' Name='TortoiseSVN_$COUNTRYCODE$.chm' DiskId='1' Source='..\doc\output\TortoiseSVN_$COUNTRYCODE$.chm' Vital='no'></File>
              <?endif?>
              <?if $(var.TMergeHelpFile) = "$COUNTRYCODE$" ?>
              <File Id='HELPMERG' Name='TortoiseMerge_$COUNTRYCODE$.chm' DiskId='1' Source='..\doc\output\TortoiseMerge_$COUNTRYCODE$.chm' Vital='no'></File>
              <?endif?>
<!--
              $SPELLCHECKFILES$
-->

              <File Id='PROCDLL' Name='TortoiseProc$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\bin\TortoiseProc$(var.COUNTRYID).dll' Vital='yes'></File>
              <File Id='MERGDLL' Name='TortoiseMerge$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\bin\TortoiseMerge$(var.COUNTRYID).dll' Vital='yes'></File>
              <File Id='BLAMDLL' Name='TortoiseGitBlame$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\bin\TortoiseGitBlame$(var.COUNTRYID).dll' Vital='yes'></File>
              <File Id='IDIFDLL' Name='TortoiseIDiff$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath)\bin\TortoiseIDiff$(var.COUNTRYID).dll' Vital='yes'></File>

              <?if $(var.Platform) = "x64" ?>
                <File Id='PROCDLL32' Name='TortoiseProc32$(var.COUNTRYID).dll' DiskId='1' Source='..\bin\$(var.ReleasePath32)\bin\TortoiseProc$(var.COUNTRYID).dll' Vital='yes'></File>
              <?endif ?>
              
            </Component>
            <?if $(var.TSVNMoFile) = "$COUNTRYCODE$" ?>
            <Directory Id='SVNLANG' Name='$COUNTRYCODE$' >
              <Directory Id='LCMESG' Name='LC_MESSAGES'>
                <Component Id='SVNMO' Guid='3CD420FC-32B4-4413-84EE-BAEB77E04B06'>
                  <File Id='MO' Name='Subversion.mo' DiskId='1' Source='Subversion.mo' Vital='no'></File>
                </Component>
              </Directory>
            </Directory>
            <?endif?>
          </Directory>
        </Directory>
      </Directory>

    </Directory>

    <Feature Id='Complete' Title='Binaries' Description='The complete language pack.'
      Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='Main' Title='Program' Description='The language pack files.' Level='1'>
        <ComponentRef Id='Main' />
        <?if $(var.TSVNMoFile) = "$COUNTRYCODE$" ?>
        <ComponentRef Id='SVNMO' />
        <?endif?>
      </Feature>
    </Feature>

    <UIRef Id="WixUI_LanguagePack" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUIBannerBmp" Value="Banner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="Dialog.jpg" />



    <InstallExecuteSequence>
      <!-- These 'Suppress' statements prevent the installer from getting
           registered and from being shown in the software panel. With both
           suppressed, the installer simply copies the files without any
           trace left. -->
      <PublishProduct Suppress='yes' />
      <RegisterProduct Suppress='yes' />
      <RegisterUser Suppress='yes' />
      <PublishFeatures Suppress='yes' />
    </InstallExecuteSequence>

  </Product>
</Wix>
