/************************************************************************/
/* Custom style-sheet stuff for the documentation in                    */
/* single and multi page HTML format                                    */
/*                                                                      */
/* Overrides Definitions in styles_chm.css                              */
/************************************************************************/

@import url("styles_chm.css");

/* Generic tag-level style definitions */

/* Override the tigris.org bodycol style */
#bodycol {
	padding-left: 0px;
	padding-right: 0px;
}

/* Don't override these styles, because they interfere with standard tigris.org styles and munge the appearance of the website.
H1, H2, H3 H4
P,LI,UL,OL,DD,DT,TD
*/

p a, p a:hover {
  margin-left: 5px;
  padding-left: 10px;
  background-image: url("images/link.png");
  background-repeat: no-repeat;
  background-position: center left;
}

/* Don't display indexterms */
.indexterm {
  margin: 0;
  padding: 0;
  display: inline;
  background-image: none;
}

.caution, .important, .note, .tip, .warning {
	background-repeat: no-repeat;
	background-position: 5px 1.33em;
	padding: 0 0 0 42px;
	min-height: 52px;
	width: 80%;
}

.tip {
	background-image: url(images/tip.png);
}

.important {
	background-image: url(images/important.png);
}

.caution {
	background-image: url(images/caution.png);
}

.warning {
	background-image: url(images/warning.png);
}

div.navheader {
	filter:none;
}

