/* CSS Document */
.navfooter {
  padding-right: 100px;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url("http://sflogo.sourceforge.net/sflogo.php?group_id=138498&amp;type=2");
}
/*
<a href="http://www.sourceforge.net" title="SourceForge.net"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=138498&amp;type=2" alt="SourceForge.net Logo" height="37" width="124" /></a>
*/
