<?xml version="1.0"?>

<project name="doc.build.user">
	<!-- You can change what documentation gets built. Since building all
	docs for every language can take several hours, reducing this to
	english and your own language will help a lot. -->

	<!-- for which applications the help file/docs should be generated -->
	<!--<property name="applications" value="TortoiseGit,TortoiseMerge" />-->
	<!-- select the output format of the docs (chm, pdf, html, htmlsingle) -->
	<!--<property name="docformats" value="chm" />-->
	<!-- select the languages of the docs -->
	<!--<property name="languages" value="en" />-->
	

	<!-- if you want to use the spellchecker, enable it here -->
	<property name="spellcheck" value="false"/> 
	<!-- and set the path to aspell. NOTE: avoid spaces in the path here -->
	<property name="path.spellcheck" value="C:\Progra~1\Aspell\bin\Aspell.exe"/>

	<!-- if you've put the 'Tools' folder not below the TortoiseGit source
	root, you must set the paths here! -->
	<property name="path.bin" 
		value="${path::get-full-path('c:/Tools')}"
		unless="${property::exists('path.bin')}"
	/>
	<property name="path.fop" 
		value="${path::get-full-path('c:/Tools/fop')}"
		unless="${property::exists('path.fop')}"
	/>
	<property name="path.xsl" 
		value="${string::replace(path::get-full-path('c:/Tools/xsl'), '\', '/')}"
		unless="${property::exists('path.xsl')}"
	/>
	<property name="path.gettext" 
		value="${path::get-full-path('c:/Tools')}"
		unless="${property::exists('path.gettext')}"
	/>
</project>
