<?xml version="1.0"?>

<project name="doc.build.user">
	<!-- You can change what documentation gets built. -->

	<!-- for which applications the docs should be generated -->
	<!--<property name="applications" value="TortoiseGit,TortoiseMerge" />-->
	<!-- select the output format of the docs (pdf, html) -->
	<!--<property name="docformats" value="html" />-->

	<!-- set the path to aspell -->
	<property name="spellcheck" value="false"/>
	<property name="path.spellcheck" value="C:\Progra~1\Aspell\bin\Aspell.exe"/>

	<!-- if you've put the 'Tools' folder not below the TortoiseGit source
	root, you must set the paths here! -->
	<property name="path.bin"
		value="C:\Tools"
	/>
	<property name="path.fop"
		value="C:\Tools\fop"
	/>
	<property name="name.fop"
		value="fop.bat"
	/>
	<property name="path.xsl"
		value="C:\Tools\xsl"
	/>
</project>
