#include <Windows.h>
#ifdef _WIN32
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#include "..\version.h"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION FILEVER
 PRODUCTVERSION PRODUCTVER
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040004e4"
        BEGIN
            VALUE "CompanyName", "http://code.google.com/p/tortoisegit"
            VALUE "FileDescription", "TortoiseGit shell extension client"
            VALUE "FileVersion", STRFILEVER
            VALUE "InternalName", "TortoiseStub.dll"
            VALUE "LegalCopyright", "Copyright (C) 2012-2013 TortoiseGit, Copyright (C) 2007-2012 TortoiseSVN"
            VALUE "OriginalFilename", "TortoiseStub.dll"
            VALUE "ProductName", "TortoiseGit"
            VALUE "ProductVersion", STRPRODUCTVER
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x400, 1252
    END
END

/////////////////////////////////////////////////////////////////////////////


