<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?include Includes.wxi?>
	<?if $(env.Platform) = "win32" ?>
	<?define cf="CommonFilesFolder" ?>
	<?endif ?>
	<?if $(env.Platform) = "x64" ?>
	<?define cf="CommonFiles64Folder" ?>
	<?endif ?>
	<Fragment Id="StructureFragment">
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="D__ProgramFilesFolder" Name="PFiles" LongName="Program Files">
				<Directory Id="INSTALLDIR" Name="TSVN" LongName="TortoiseSVN">

					<?if $(env.Platform) = "win32" ?>
					<Merge Id='CRT' Language='0' src='$(env.MergeModules)\microsoft_vc90_crt_x86.msm' DiskId='1' />
					<Merge Id='CRT Policy' Language='0' src='$(env.MergeModules)\policy_9_0_Microsoft_VC90_CRT_x86.msm' DiskId='1' />
					<Merge Id='MFC' Language='0' src='$(env.MergeModules)\Microsoft_VC90_MFC_x86.msm' DiskId='1' />
					<Merge Id='MFC Policy' Language='0' src='$(env.MergeModules)\policy_9_0_Microsoft_VC90_MFC_x86.msm' DiskId='1' />
					<Merge Id='MFCLOC' Language='0' src='$(env.MergeModules)\Microsoft_VC90_MFCLOC_x86.msm' DiskId='1' />
					<Merge Id='MFCLOC Policy' Language='0' src='$(env.MergeModules)\policy_9_0_Microsoft_VC90_MFCLOC_x86.msm' DiskId='1' />
					<?endif ?>

					<?if $(env.Platform) = "x64" ?>
					<Merge Id='CRT' Language='0' src='$(env.MergeModules)\Microsoft_VC90_CRT_x86_x64.msm' DiskId='1' />
					<Merge Id='CRT Policy' Language='0' src='$(env.MergeModules)\policy_9_0_Microsoft_VC90_CRT_x86_x64.msm' DiskId='1' />
					<Merge Id='MFC' Language='0' src='$(env.MergeModules)\Microsoft_VC90_MFC_x86_x64.msm' DiskId='1' />
					<Merge Id='MFC Policy' Language='0' src='$(env.MergeModules)\policy_9_0_Microsoft_VC90_MFC_x86_x64.msm' DiskId='1' />
					<Merge Id='MFCLOC' Language='0' src='$(env.MergeModules)\Microsoft_VC90_MFCLOC_x86_x64.msm' DiskId='1' />
					<Merge Id='MFCLOC Policy' Language='0' src='$(env.MergeModules)\policy_9_0_Microsoft_VC90_MFCLOC_x86_x64.msm' DiskId='1' />
					<?endif ?>

					<?if $(env.Platform) = "win32" ?>
					<Merge Id='Ovlays' Language='0' src='..\..\ext\TortoiseOverlays\TortoiseOverlays-1.0.4.11886-win32.msm' DiskId='1' />
					<?endif ?>

					<?if $(env.Platform) = "x64" ?>
					<Merge Id='Ovlays' Language='0' src='..\..\ext\TortoiseOverlays\TortoiseOverlays-1.0.4.11886-x64.msm' DiskId='1' />
					<?endif ?>

					<Component Id="C__infofiles" Guid="$(var.GuidInfoFiles)" Win64="$(var.Win64YesNo)">
						<File Id="F__changelog" Name="CHANGELG.TXT" LongName="Changelog.txt" DiskId="1" src="..\Changelog.txt" KeyPath="yes" />
						<File Id="F__subversionlicense" Name="LICENSES.TXT" LongName="Subversion license.txt" DiskId="1" src="..\..\ext\Subversion\subversion\LICENSE" />
						<File Id="F__tortoisesvnlicense" Name="LICENSE.TXT" LongName="TortoiseSVN License.txt" DiskId="1" src="..\gpl.txt" />
						<File Id="F__openssllicense" Name="OSSL_LIC.TXT" LongName="OpenSSL License.txt" DiskId="1" src="include\OpenSSL_License.txt" />
						<File Id="F__aprlicense" Name="APR_LIC.TXT" LongName="apr License.txt" DiskId="1" src="..\..\ext\apr\LICENSE" />
						<File Id="F__sasllicense" Name="CYRUSSAS.TXT" LongName="CyrusSASL License.txt" DiskId="1" src="include\CyrusSASL_License.txt" />
					</Component>

					<Component Id="C__ProgramMenuFolder" Guid="$(var.GuidProgramMenuFolder)" Win64="$(var.Win64YesNo)">
						<RemoveFolder Directory="INSTALLDIR" On="uninstall" Id="RemoveFolder_INSTALLDIR" />
						<RemoveFolder Directory="D_TortoisePrgMenu" On="uninstall" Id="RemoveFolder_PrgMenu" />
					</Component>

					<Component Id="C__shellregistry" Guid="$(var.GuidShellRegistry)" Win64="$(var.Win64YesNo)">
						<Registry Root="HKMU" Key="Software\Classes\Drive\shellex\ContextMenuHandlers\TortoiseSVN" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Drive\shellex\ContextMenuHandlers\TortoiseSVN" KeyPath="yes" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\Drive\shellex\PropertySheetHandlers\TortoiseSVN" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Drive\shellex\PropertySheetHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\TortoiseSVN" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\shellex\ContextMenuHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\shellex\DragDropHandlers\TortoiseSVN" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\shellex\DragDropHandlers\TortoiseSVN" Value="{$(var.GuidDropHandler)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\shellex\PropertySheetHandlers\TortoiseSVN" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\shellex\PropertySheetHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\TortoiseSVN" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\Background\shellex\ContextMenuHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\Folder\shellex\ColumnHandlers\{$(var.GuidUncontrolled)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\TortoiseSVN" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Folder\shellex\ContextMenuHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\Folder\shellex\DragDropHandlers\TortoiseSVN" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\Folder\shellex\DragDropHandlers\TortoiseSVN" Value="{$(var.GuidDropHandler)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidAdded)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidAdded)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidAdded)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidAdded)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidLocked)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidLocked)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidLocked)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidLocked)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidDeleted)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidDeleted)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidDeleted)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidDeleted)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidNormal)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidNormal)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidNormal)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidNormal)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidReadonly)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidReadonly)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidReadonly)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidReadonly)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidUncontrolled)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidUncontrolled)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidUncontrolled)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidUncontrolled)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidModified)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidModified)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidModified)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidModified)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidDropHandler)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidDropHandler)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidDropHandler)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidDropHandler)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidConflict)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidConflict)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidConflict)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidConflict)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidIgnored)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidIgnored)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidIgnored)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidIgnored)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidUnversioned)}" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidUnversioned)}\InProcServer32" Name="ThreadingModel" Value="Apartment" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidUnversioned)}\InProcServer32" Value="[INSTALLDIR]bin\TortoiseStub.dll" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidUnversioned)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\lnkfile\shellex\ContextMenuHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\InternetShortcut\shellex\ContextMenuHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\*\shellex\ContextMenuHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\*\shellex\PropertySheetHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\Directory\shellex\CopyHookHandlers\TortoiseSVN" Value="{$(var.GuidUncontrolled)}" Type="string" />
					</Component>

					<Component Id="C__machineregistry" Guid="$(var.GuidMachineRegistry)" Win64="$(var.Win64YesNo)">
						<Registry Root="HKLM" Key="Software\[Manufacturer]" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKLM" Key="Software\[Manufacturer]" Name="ProcPath" Value="[INSTALLDIR]bin\TortoiseProc.exe" Type="string" />
						<Registry Root="HKLM" Key="Software\[Manufacturer]" Name="CachePath" Value="[INSTALLDIR]bin\TSVNCache.exe" Type="string" />
						<Registry Root="HKLM" Key="Software\[Manufacturer]" Name="TMergePath" Value="[INSTALLDIR]bin\TortoiseMerge.exe" Type="string" />
						<Registry Root="HKLM" Key="Software\[Manufacturer]" Name="Directory" Value="[INSTALLDIR]" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\SubWCRev.exe" Action="createKeyAndRemoveKeyOnUninstall" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\SubWCRev.exe" Name="Path" Value="[INSTALLDIR]bin" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\App Paths\SubWCRev.exe" Value="[INSTALLDIR]bin\SubWCRev.exe" Type="string" />

						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Normal" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Normal" Name="SVN" Value="{$(var.GuidNormal)}" Type="string" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Modified" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Modified" Name="SVN" Value="{$(var.GuidModified)}" Type="string" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Conflict" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Conflict" Name="SVN" Value="{$(var.GuidConflict)}" Type="string" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Deleted" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Deleted" Name="SVN" Value="{$(var.GuidDeleted)}" Type="string" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\ReadOnly" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\ReadOnly" Name="SVN" Value="{$(var.GuidReadonly)}" Type="string" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Locked" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Locked" Name="SVN" Value="{$(var.GuidLocked)}" Type="string" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Added" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Added" Name="SVN" Value="{$(var.GuidAdded)}" Type="string" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Ignored" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Ignored" Name="SVN" Value="{$(var.GuidIgnored)}" Type="string" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Unversioned" Action="createKey" />
						<Registry Root="HKLM" Key="Software\TortoiseOverlays\Unversioned" Name="SVN" Value="{$(var.GuidUnversioned)}" Type="string" />
					</Component>

					<Component Id="C__approveshellcomponents" Guid="$(var.GuidApproveShellComponents)" Win64="$(var.Win64YesNo)">
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidConflict)}" Value="TortoiseSVN" KeyPath="yes" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidModified)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidDropHandler)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidDeleted)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidNormal)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidUncontrolled)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidReadonly)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidLocked)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidAdded)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidIgnored)}" Value="TortoiseSVN" Type="string" />
						<Registry Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved" Name="{$(var.GuidUnversioned)}" Value="TortoiseSVN" Type="string" />
					</Component>

					<Component Id="C__svnprotocoll" Guid="$(var.GuidSvnProtocol)" Win64="$(var.Win64YesNo)">
						<Registry Root="HKMU" Key="Software\Classes\svn" KeyPath="yes" Value="URL:SVN Protocol" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\svn" Name="URL Protocol" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\svn\DefaultIcon" Value="[INSTALLDIR]bin\TortoiseProc.exe" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\svn\shell\open\command" Value="[INSTALLDIR]bin\TortoiseProc.exe /command:repobrowser /path:&quot;%1&quot;" Type="string" />

						<Registry Root="HKMU" Key="Software\Classes\svn+ssh" Value="URL:SVN+SSH Protocol" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\svn+ssh" Name="URL Protocol" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\svn+ssh\DefaultIcon" Value="[INSTALLDIR]bin\TortoiseProc.exe" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\svn+ssh\shell\open\command" Value="[INSTALLDIR]bin\TortoiseProc.exe /command:repobrowser /path:&quot;%1&quot;" Type="string" />

						<Registry Root="HKMU" Key="Software\Classes\tsvn" Value="URL:TSVN Protocol" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\tsvn" Name="URL Protocol" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\tsvn\DefaultIcon" Value="[INSTALLDIR]bin\TortoiseProc.exe" Type="string" />
						<Registry Root="HKMU" Key="Software\Classes\tsvn\shell\open\command" Value="[INSTALLDIR]bin\TortoiseProc.exe /command:checkout /url:&quot;%1&quot;" Type="string" />
					</Component>

					<Component Id="C__ASPDOTNETHACK" Guid="$(var.GuidASPNETHack)" Win64="$(var.Win64YesNo)">
						<Registry Root="HKCU" Key="Software\TortoiseSVN" KeyPath="yes" Name="ASP.NET KeyPath" Value="ASP.NET" Type="string" />
						<!-- only used because this component needs a key path! -->
						<Environment Id="E__ASPDOTNETHACK" Action="create" Name="SVN_ASP_DOT_NET_HACK" Value="1" Permanent="yes" System="yes" />
					</Component>

					<Directory Id="D__Bin" Name="BIN" LongName="bin" >

						<Component Id="C__apr" Guid="$(var.GuidAPR)" Win64="$(var.Win64YesNo)">
							<File Id="F__libapr" Name="LIBAPR.DLL" LongName="libapr_tsvn.dll" DiskId="1" src="..\..\ext\apr\release_$(var.PlatformPathExtension)\libapr_tsvn.dll" KeyPath="yes" />
							<File Id="F__libaprutil" Name="LIBAPRUT.DLL" LongName="libaprutil_tsvn.dll" DiskId="1" src="..\..\ext\apr-util\release_$(var.PlatformPathExtension)\libaprutil_tsvn.dll" />
						</Component>

						<Component Id="C__sasl" Guid="$(var.GuidSASL)" Win64="$(var.Win64YesNo)">
							<File Id="F__libsasl" Name="LIBSASL.DLL" LongName="libsasl.dll" DiskId="1" src="..\..\ext\cyrus-SASL\release_$(var.PlatformPathExtension)\libsasl.dll" KeyPath="yes" />
							<File Id="F__saslANONYMOUS" Name="saslANON.DLL" LongName="saslANONYMOUS.dll" DiskId="1" src="..\..\ext\cyrus-SASL\release_$(var.PlatformPathExtension)\saslANONYMOUS.dll" />
							<File Id="F__saslCRAMMD5" Name="saslCRAM.DLL" LongName="saslCRAMMD5.dll" DiskId="1" src="..\..\ext\cyrus-SASL\release_$(var.PlatformPathExtension)\saslCRAMMD5.dll" />
							<File Id="F__saslDIGESTMD5" Name="saslDIGE.DLL" LongName="saslDIGESTMD5.dll" DiskId="1" src="..\..\ext\cyrus-SASL\release_$(var.PlatformPathExtension)\saslDIGESTMD5.dll" />
							<File Id="F__saslLOGIN" Name="saslLOGI.DLL" LongName="saslLOGIN.dll" DiskId="1" src="..\..\ext\cyrus-SASL\release_$(var.PlatformPathExtension)\saslLOGIN.dll" />
							<File Id="F__saslNTLM" Name="saslNTLM.DLL" LongName="saslNTLM.dll" DiskId="1" src="..\..\ext\cyrus-SASL\release_$(var.PlatformPathExtension)\saslNTLM.dll" />
							<File Id="F__saslPLAIN" Name="saslPLAI.DLL" LongName="saslPLAIN.dll" DiskId="1" src="..\..\ext\cyrus-SASL\release_$(var.PlatformPathExtension)\saslPLAIN.dll" />
						</Component>

						<Component Id="C__gettext" Guid="$(var.GuidGettext)" Win64="$(var.Win64YesNo)">
							<File Id="F__intl" Name="INTL3_TS.DLL" LongName="intl3_tsvn.dll" DiskId="1" src="..\..\ext\libintl\libintl3-$(var.PlatformPathExtension)\bin\intl3_tsvn.dll" KeyPath="yes" />
						</Component>

						<?if $(env.IncludeCrashReportDll) = 1 ?>
						<Component Id="C__crash" Guid="$(var.GuidCrashRpt)" Win64="$(var.Win64YesNo)">
							<File Id="F__crashrpt" Name="CRASHRPT.DLL" LongName="CrashRpt.dll" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\CrashRpt.dll" KeyPath="yes" />
						</Component>
						<?endif ?>

						<Component Id="C__help_en" Guid="$(var.GuidHelpEN)" Win64="$(var.Win64YesNo)">
							<File Id="F_TortoiseSVN_en" Name="TSVNHELP.CHM" LongName="TortoiseSVN_en.chm" DiskId="1" src="..\..\doc\output\TortoiseSVN_en.chm" KeyPath="yes" />
							<File Id="F__TortoiseMerge_en" Name="TMEHELP.CHM" LongName="TortoiseMerge_en.chm" DiskId="1" src="..\..\doc\output\TortoiseMerge_en.chm" />
							<RemoveFile Id="F__Tortoise_lang" Name="*.chm" LongName="*.chm" On="uninstall" />
						</Component>

						<Component Id="C__TortoiseSVN" Guid="$(var.GuidTortoiseSVN)" Win64="$(var.Win64YesNo)">
							<File Id="F__TortoiseProc" Name="TORTPROC.EXE" LongName="TortoiseProc.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TortoiseProc.exe" KeyPath="yes" />
							<File Id="F__TortoiseShell" Name="TORTSVN.DLL" LongName="TortoiseSVN.dll" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TortoiseSVN.dll" />
							<File Id="F__TortoiseStub" Name="TORTSTB.DLL" LongName="TortoiseStub.dll" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TortoiseStub.dll" />
							<File Id="F__TortoisePlink" Name="TORTPLI.EXE" LongName="TortoisePlink.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TortoisePlink.exe" />
							<File Id="F__TSVNCache" Name="TSVNCACH.EXE" LongName="TSVNCache.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TSVNCache.exe" />
							<File Id="F__TSVNAutolist" Name="AUTOLIST.TXT" LongName="autolist.txt" DiskId="1" src="include\autolist.txt" />
							<File Id="F__websiteurl" Name="WEBSITE.URL" LongName="Website.url" src="include\Website.url" DiskId="1" />

							<File Id="F__SubWCRev" Name="SUBWCREV.EXE" LongName="SubWCRev.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\SubWCRev.exe" />
							<File Id="F__SubWCRevCOM" Name="SUBWCOM.EXE" LongName="SubWCRevCOM.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\SubWCRevCOM.exe" />
							<!-- register the SubWCRev COM-Object -->
							<Environment Id="Environment" Name="PATH" Part="last" System="yes" Value="[INSTALLDIR]bin" Action="set" />
							<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidSubWCRev)}" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidSubWCRev)}\LocalServer32" Value="[INSTALLDIR]bin\SubWCRevCOM.exe /automation" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidSubWCRev)}\ProgID" Value="SubWCRev.object.1" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidSubWCRev)}\VersionIndependentProgID" Value="SubWCRev.object" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidSubWCRev)}\TypeLib" Value="{$(var.GuidSubWCRevTypeLib)}" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\CLSID\{$(var.GuidSubWCRev)}" Value="SubWCRev Server Object" Type="string" />

							<Registry Root="HKMU" Key="Software\Classes\SubWCRev.object" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\SubWCRev.object" Value="SubWCRev Server Object" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\SubWCRev.object\CLSID" Value="{$(var.GuidSubWCRev)}" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\SubWCRev.object\CurVer" Value="SubWCRev.object.1" Type="string" />

							<Registry Root="HKMU" Key="Software\Classes\SubWCRev.object.1" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\SubWCRev.object.1" Value="SubWCRev Server Object" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\SubWCRev.object.1\CLSID" Value="{$(var.GuidSubWCRev)}" Type="string" />

							<Registry Root="HKMU" Key="Software\Classes\TypeLib\{$(var.GuidSubWCRevTypeLib)}" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\TypeLib\{$(var.GuidSubWCRevTypeLib)}\1.0" Value="LibSubWCRev" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\TypeLib\{$(var.GuidSubWCRevTypeLib)}\1.0\0" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\TypeLib\{$(var.GuidSubWCRevTypeLib)}\1.0\0\win32" Value="[INSTALLDIR]bin\SubWCRevCOM.exe" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\TypeLib\{$(var.GuidSubWCRevTypeLib)}\FLAGS" Value="0" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\TypeLib\{$(var.GuidSubWCRevTypeLib)}\HELPDIR" Value="[INSTALLDIR]" Type="string" />

							<Registry Root="HKMU" Key="Software\Classes\Interface\{$(var.GuidSubWCRevInterface)}" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\Interface\{$(var.GuidSubWCRevInterface)}" Value="ISubWCRev" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\Interface\{$(var.GuidSubWCRevInterface)}\ProxyStubClsid" Value="{00020424-0000-0000-C000-000000000046}" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\Interface\{$(var.GuidSubWCRevInterface)}\ProxyStubClsid32" Value="{00020424-0000-0000-C000-000000000046}" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\Interface\{$(var.GuidSubWCRevInterface)}\TypeLib" Value="{$(var.GuidSubWCRevTypeLib)}" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\Interface\{$(var.GuidSubWCRevInterface)}\TypeLib" Name="Version" Value="1.0" Type="string" />
						</Component>

						<Component Id="C__TortoiseSVNShortcuts" Guid="$(var.GuidTortoiseSVNShortcuts)" Win64="$(var.Win64YesNo)">
							<Registry Root="HKCU" Key="Software\TortoiseSVN" KeyPath="yes" Name="TortoiseSVN" Value="TortoiseSVN" Type="string" />
							<Shortcut Id="S__Website" Directory="D_TortoisePrgMenu" Name="Web" LongName="Website" Advertise="no"
							Target="[INSTALLDIR]bin\website.url" Description="TortoiseSVN Website" />
							<Shortcut Id="S__RTFM" Directory="D_TortoisePrgMenu" Name="TSVN" LongName="TortoiseSVN" Advertise="no"
							Target="[INSTALLDIR]bin\TortoiseProc.exe" Description="TortoiseSVN" Arguments="/command:rtfm" Show="normal" />
							<Shortcut Id="S__TortoiseProc" Directory="D_TortoisePrgMenu" Name="HELP" LongName="Help" Advertise="no"
							Target="[INSTALLDIR]bin\TortoiseProc.exe" Description="Documentation about TortoiseSVN" Arguments="/command:help" Show="normal" />
						</Component>

						<Component Id="C__TortoiseMerge" Guid="$(var.GuidTortoiseMerge)" Win64="$(var.Win64YesNo)">
							<File Id="F__TortoiseMerge" Name="TMERGE.EXE" LongName="TortoiseMerge.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TortoiseMerge.exe" KeyPath="yes" />
						</Component>

						<Component Id="C__TortoiseMergeShortcuts" Guid="$(var.GuidTortoiseMergeShortcuts)" Win64="$(var.Win64YesNo)">
							<Registry Root="HKCU" Key="Software\TortoiseSVN" KeyPath="yes" Name="TortoiseMerge" Value="TortoiseMerge" Type="string" />
							<Shortcut Id="S__TortoiseMerge" Directory="D_TortoisePrgMenu" Name="TMERGE" LongName="TortoiseMerge" Advertise="no"
							Target="[INSTALLDIR]bin\TortoiseMerge.exe" Description="View Diff's, Merge Diff's, Resolve Conflicted Files and Apply Patches" Show="normal" />
						</Component>

						<Component Id="C__Sounds" Guid="$(var.GuidSounds)" Win64="$(var.Win64YesNo)">
							<File Id="F__sounderror" Name="TERROR.WAV" LongName="TortoiseSVN_error.wav" DiskId="1" src="..\Resources\TortoiseSVN_error.wav" KeyPath="yes" />
							<File Id="F__soundwarning" Name="TWARN.WAV" LongName="TortoiseSVN_Warning.wav" DiskId="1" src="..\Resources\TortoiseSVN_Warning.wav" />
							<File Id="F__soundnotification" Name="TNOTIFY.WAV" LongName="TortoiseSVN_Notification.wav" DiskId="1" src="..\Resources\TortoiseSVN_Notification.wav" />
						</Component>

						<Component Id="C__TortoiseBlame" Guid="$(var.GuidTortoiseBlame)" Win64="$(var.Win64YesNo)">
							<File Id="F__TortoiseBlame" Name="TBLAME.EXE" LongName="TortoiseBlame.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TortoiseBlame.exe" KeyPath="yes" />
							<File Id="F__SciLexer" Name="SCILEX.DLL" LongName="SciLexer.dll" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\SciLexer.dll" />
						</Component>

						<Component Id="C__TortoiseIDiff" Guid="$(var.GuidTortoiseIDiff)" Win64="$(var.Win64YesNo)">
							<File Id="F__TortoiseIDiff" Name="TIDIFF.EXE" LongName="TortoiseIDiff.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TortoiseIDiff.exe" KeyPath="yes" />
						</Component>

						<Component Id="C__TortoiseIDiffShortcuts" Guid="$(var.GuidTortoiseIDiffShortcuts)" Win64="$(var.Win64YesNo)">
							<Registry Root="HKCU" Key="Software\TortoiseSVN" KeyPath="yes" Name="TortoiseIDiff" Value="TortoiseIDiff" Type="string" />
							<Shortcut Id="S__TortoiseIDiff" Directory="D_TortoisePrgMenu" Name="TIDIFF" LongName="TortoiseIDiff" Advertise="no"
							Target="[INSTALLDIR]bin\TortoiseIDiff.exe" Description="View Diff's of image files" Show="normal" />
						</Component>

						<Component Id="C__TortoiseUDiff" Guid="$(var.GuidTortoiseUDiff)" Win64="$(var.Win64YesNo)">
							<File Id="F__TortoiseUDiff" Name="TUDIFF.EXE" LongName="TortoiseUDiff.exe" DiskId="1" src="..\..\bin\$(var.ReleasePath)\bin\TortoiseUDiff.exe" KeyPath="yes" />
						</Component>

						<Component Id="C__TortoiseUDiffAssoc" Guid="$(var.GuidTortoiseUDiffAssoc)" Win64="$(var.Win64YesNo)">
							<Registry Root="HKMU" Key="Software\Classes\.diff" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\.diff" KeyPath="yes" Value="unified_diff_file" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\.patch" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\.patch" Value="unified_diff_file" Type="string" />
							<Registry Root="HKMU" Key="Software\Classes\unified_diff_file\shell\open\command" Action="createKeyAndRemoveKeyOnUninstall" />
							<Registry Root="HKMU" Key="Software\Classes\unified_diff_file\shell\open\command" Value="[INSTALLDIR]bin\TortoiseUDiff.exe /patchfile:&quot;%1&quot;" Type="string" />
						</Component>

						<Component Id="C__PlainSettingsShortcuts" Guid="$(var.GuidPlainSettingsShortcuts)" Win64="$(var.Win64YesNo)">
							<Registry Root="HKCU" Key="Software\TortoiseSVN" KeyPath="yes" Name="TortoiseSVN" Value="TortoiseSVN" Type="string" />
							<Condition><![CDATA[NOT VersionNT64]]></Condition>
							<Shortcut Id="S__PlainConfig" Directory="D_TortoisePrgMenu" Name="SETTINGS" LongName="Settings" Advertise="no"
							Target="[INSTALLDIR]bin\TortoiseProc.exe" Description="TortoiseSVN" Arguments="/command:settings" Show="normal" />
						</Component>

						<Component Id="C__PlatformSettingsShortcuts" Guid="$(var.GuidPlatformSettingsShortcuts)" Win64="$(var.Win64YesNo)">
							<Registry Root="HKCU" Key="Software\TortoiseSVN" KeyPath="yes" Name="TortoiseSVN" Value="TortoiseSVN" Type="string" />
							<Condition>VersionNT64</Condition>
							<Shortcut Id="S__PlatformConfig" Directory="D_TortoisePrgMenu" Name="SETTINGS" LongName="Settings $(var.PlatformUserVisible)" Advertise="no"
							Target="[INSTALLDIR]bin\TortoiseProc.exe" Description="TortoiseSVN" Arguments="/command:settings" Show="normal" />
						</Component>

					</Directory>

					<Directory Id="D__Languages" Name="Language" LongName="Languages" >

						<?if $(env.DictionaryENGB) = 1 ?>
						<Component Id="C__DictionaryENGB" Guid="$(var.GuidDictionaryENGB)" Win64="$(var.Win64YesNo)">
							<File Id="F__ENGBSPELLAFF" Name="en_GB.aff" LongName="en_GB.aff" src="..\..\..\Common\Spell\en_GB.aff" DiskId="1" />
							<File Id="F__ENGBSPELLDIC" Name="en_GB.dic" LongName="en_GB.dic" src="..\..\..\Common\Spell\en_GB.dic" DiskId="1" />
						</Component>
						<?endif ?>

						<?if $(env.DictionaryENUS) = 1 ?>
						<Component Id="C__DictionaryENUS" Guid="$(var.GuidDictionaryENUS)" Win64="$(var.Win64YesNo)">
							<File Id="F__ENSPELLAFF" Name="en_US.aff" LongName="en_US.aff" src="..\..\..\Common\Spell\en_US.aff" DiskId="1" />
							<File Id="F__ENSPELLDIC" Name="en_US.dic" LongName="en_US.dic" src="..\..\..\Common\Spell\en_US.dic" DiskId="1" />
						</Component>
						<?endif ?>

					</Directory>

					<Directory Id="D__DiffScripts" Name="Diff" LongName="Diff-Scripts" >

						<Component Id="C__DiffScripts" Guid="$(var.GuidDiffScripts)" Win64="$(var.Win64YesNo)">
							<File Id="F__diffxls" Name="diff-xls.vbs" LongName="diff-xls.vbs" src="..\..\contrib\other\diff-scripts\diff-xls.vbs" DiskId="1" KeyPath="yes"/>
							<File Id="F__diffxlsx" Name="diffxlsx.vbs" LongName="diff-xlsx.vbs" src="..\..\contrib\other\diff-scripts\diff-xlsx.vbs" DiskId="1" />
							<File Id="F__diffppt" Name="diff-ppt.js" LongName="diff-ppt.js" src="..\..\contrib\other\diff-scripts\diff-ppt.js" DiskId="1" />
							<File Id="F__diffdoc" Name="diff-doc.js" LongName="diff-doc.js" src="..\..\contrib\other\diff-scripts\diff-doc.js" DiskId="1" />
							<File Id="F__diffdocx" Name="diffdocx.js" LongName="diff-docx.js" src="..\..\contrib\other\diff-scripts\diff-docx.js" DiskId="1" />
							<File Id="F__mergedoc" Name="mergedoc.js" LongName="merge-doc.js" src="..\..\contrib\other\diff-scripts\merge-doc.js" DiskId="1" />
							<File Id="F__mergedocx" Name="mergedcx.js" LongName="merge-docx.js" src="..\..\contrib\other\diff-scripts\merge-docx.js" DiskId="1" />
							<File Id="F__diffsxw" Name="diff-sxw.vbs" LongName="diff-sxw.vbs" src="..\..\contrib\other\diff-scripts\diff-sxw.vbs" DiskId="1" />
							<File Id="F__mergesxw" Name="mergesxw.vbs" LongName="merge-sxw.vbs" src="..\..\contrib\other\diff-scripts\merge-sxw.vbs" DiskId="1" />
							<File Id="F__diffods" Name="diff-ods.vbs" LongName="diff-ods.vbs" src="..\..\contrib\other\diff-scripts\diff-ods.vbs" DiskId="1" />
							<File Id="F__diffodt" Name="diff-odt.vbs" LongName="diff-odt.vbs" src="..\..\contrib\other\diff-scripts\diff-odt.vbs" DiskId="1" />
							<File Id="F__mergeods" Name="mergeods.vbs" LongName="merge-ods.vbs" src="..\..\contrib\other\diff-scripts\merge-ods.vbs" DiskId="1" />
							<File Id="F__mergeodt" Name="mergeodt.vbs" LongName="merge-odt.vbs" src="..\..\contrib\other\diff-scripts\merge-odt.vbs" DiskId="1" />
							<File Id="F__diffnb" Name="diff-nb.vbs" LongName="diff-nb.vbs" src="..\..\contrib\other\diff-scripts\diff-nb.vbs" DiskId="1" />
						</Component>

					</Directory>

					<Directory Id="ProgramMenuFolder" Name="." SourceName="USER'S" LongSource="User's Programs Menu">
						<Directory Id="D_TortoisePrgMenu" Name="TORTOISE" LongName="TortoiseSVN" />
					</Directory>

					<Directory Id='$(var.cf)' Name='Common'>
						<Directory Id='TortoioseOverlays' Name='TortOvl' LongName='TortoiseOverlays'>
							<Directory Id="D__icons" Name="ICONS" LongName="icons" >
								<Directory Id="D__iconscvsclassic" Name="CVSClass" LongName="CVSClassic" >

									<Component Id="C__iconscvsclassic" Guid="$(var.GuidIconsCVSClassic)" Win64="$(var.Win64YesNo)">
										<File Id="F__CVSClassicConflictIcon" Name="TORTOI1.ICO" LongName="ConflictIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\ConflictIcon.ico" KeyPath="yes" />
										<File Id="F__CVSClassicInSubversionIcon" Name="TORTOI2.ICO" LongName="NormalIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\NormalIcon.ico" />
										<File Id="F__CVSClassicModifiedIcon" Name="TORTOI3.ICO" LongName="ModifiedIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\ModifiedIcon.ico" />
										<File Id="F__CVSClassicReadOnlyIcon" Name="TORTOI4.ICO" LongName="ReadOnlyIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\ReadOnlyIcon.ico" />
										<File Id="F__CVSClassicDeletedIcon" Name="TORTOI5.ICO" LongName="DeletedIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\DeletedIcon.ico" />
										<File Id="F__CVSClassicLockedIcon" Name="TORTOI6.ICO" LongName="LockedIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\LockedIcon.ico" />
										<File Id="F__CVSClassicAddedIcon" Name="TORTOI7.ICO" LongName="AddedIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\AddedIcon.ico" />
										<File Id="F__CVSClassicIgnoredIcon" Name="TORTOI8.ICO" LongName="IgnoredIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\IgnoredIcon.ico" />
										<File Id="F__CVSClassicUnversionedIcon" Name="TORTOI9.ICO" LongName="UnversionedIcon.ico" DiskId="1" src="..\Resources\Icons\CVSClassic\UnversionedIcon.ico" />
									</Component>

								</Directory>

								<Directory Id="D__iconsmodern" Name="Modern" >

									<Component Id="C__iconsmodern" Guid="$(var.GuidIconsModern)" Win64="$(var.Win64YesNo)">
										<File Id="F__ModernConflictIcon" Name="TORTOI1.ICO" LongName="ConflictIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\ConflictIcon.ico" KeyPath="yes" />
										<File Id="F__ModernInSubversionIcon" Name="TORTOI2.ICO" LongName="NormalIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\NormalIcon.ico" />
										<File Id="F__ModernModifiedIcon" Name="TORTOI3.ICO" LongName="ModifiedIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\ModifiedIcon.ico" />
										<File Id="F__ModernReadOnlyIcon" Name="TORTOI4.ICO" LongName="ReadOnlyIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\ReadOnlyIcon.ico" />
										<File Id="F__ModernDeletedIcon" Name="TORTOI5.ICO" LongName="DeletedIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\DeletedIcon.ico" />
										<File Id="F__ModernLockedIcon" Name="TORTOI6.ICO" LongName="LockedIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\LockedIcon.ico" />
										<File Id="F__ModernAddedIcon" Name="TORTOI7.ICO" LongName="AddedIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\AddedIcon.ico" />
										<File Id="F__ModernIgnoredIcon" Name="TORTOI8.ICO" LongName="IgnoredIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\IgnoredIcon.ico" />
										<File Id="F__ModernUnversionedIcon" Name="TORTOI9.ICO" LongName="UnversionedIcon.ico" DiskId="1" src="..\Resources\Icons\Modern\UnversionedIcon.ico" />
									</Component>

								</Directory>

								<Directory Id="D__iconssubclipse" Name="SUBCLI1" LongName="Subclipse" >

									<Component Id="C__iconsmarkphippard" Guid="$(var.GuidIconsMarkPhippard)" Win64="$(var.Win64YesNo)">
										<File Id="F__SubclipseConflictIcon" Name="TORTOI1.ICO" LongName="ConflictIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\ConflictIcon.ico" KeyPath="yes" />
										<File Id="F__SubclipseInSubversionIcon" Name="TORTOI2.ICO" LongName="NormalIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\NormalIcon.ico" />
										<File Id="F__SubclipseModifiedIcon" Name="TORTOI3.ICO" LongName="ModifiedIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\ModifiedIcon.ico" />
										<File Id="F__SubclipseReadOnlyIcon" Name="TORTOI4.ICO" LongName="ReadOnlyIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\ReadOnlyIcon.ico" />
										<File Id="F__SubclipseDeletedIcon" Name="TORTOI5.ICO" LongName="DeletedIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\DeletedIcon.ico" />
										<File Id="F__SubclipseLockedIcon" Name="TORTOI6.ICO" LongName="LockedIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\LockedIcon.ico" />
										<File Id="F__SubclipseAddedIcon" Name="TORTOI7.ICO" LongName="AddedIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\AddedIcon.ico" />
										<File Id="F__SubclipseIgnoredIcon" Name="TORTOI8.ICO" LongName="IgnoredIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\IgnoredIcon.ico" />
										<File Id="F__SubclipseUnversionedIcon" Name="TORTOI9.ICO" LongName="UnversionedIcon.ico" DiskId="1" src="..\Resources\Icons\Subclipse\UnversionedIcon.ico" />
									</Component>

								</Directory>

								<Directory Id="D__iconsstraight" Name="Straight" >

									<Component Id="C__iconsstraight" Guid="$(var.GuidIconsStraight)" Win64="$(var.Win64YesNo)">
										<File Id="F__StraightConflictIcon" Name="TORTOI1.ICO" LongName="ConflictIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\ConflictIcon.ico" KeyPath="yes" />
										<File Id="F__StraightInSubversionIcon" Name="TORTOI2.ICO" LongName="NormalIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\NormalIcon.ico" />
										<File Id="F__StraightModifiedIcon" Name="TORTOI3.ICO" LongName="ModifiedIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\ModifiedIcon.ico" />
										<File Id="F__StraightReadOnlyIcon" Name="TORTOI4.ICO" LongName="ReadOnlyIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\ReadOnlyIcon.ico" />
										<File Id="F__StraightDeletedIcon" Name="TORTOI5.ICO" LongName="DeletedIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\DeletedIcon.ico" />
										<File Id="F__StraightLockedIcon" Name="TORTOI6.ICO" LongName="LockedIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\LockedIcon.ico" />
										<File Id="F__StraightAddedIcon" Name="TORTOI7.ICO" LongName="AddedIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\AddedIcon.ico" />
										<File Id="F__StraightIgnoredIcon" Name="TORTOI8.ICO" LongName="IgnoredIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\IgnoredIcon.ico" />
										<File Id="F__StraightUnversionedIcon" Name="TORTOI9.ICO" LongName="UnversionedIcon.ico" DiskId="1" src="..\Resources\Icons\Straight\UnversionedIcon.ico" />
									</Component>

								</Directory>
							</Directory>
						</Directory>
					</Directory>

				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
