<!--
First-time install dialog sequence:      Maintenance dialog sequence:
 - WixUI_WelcomeDlg                     - WixUI_MaintenanceWelcomeDlg
                                          - WixUI_MaintenanceTypeDlg
                                            - WixUI_CustomizeDlg
                                            - WixUI_VerifyReadyDlg
-->

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<UI Id="WixUI_Simplest">
			<TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
			<TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
			<TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

			<Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
			<Property Id="WixUI_Mode" Value="Minimal" />

			<DialogRef Id="ErrorDlg" />
			<DialogRef Id="ExitDialog" />
			<DialogRef Id="FatalError" />
			<DialogRef Id="FilesInUse" />
			<DialogRef Id="MaintenanceTypeDlg" />
			<DialogRef Id="MaintenanceWelcomeDlg" />
			<DialogRef Id="MsiRMFilesInUse" />
			<DialogRef Id="PrepareDlg" />
			<DialogRef Id="ProgressDlg" />
			<DialogRef Id="ResumeDlg" />
			<DialogRef Id="UserExit" />
			<DialogRef Id="VerifyReadyDlg" />
			<DialogRef Id="WelcomeDlg" />

			<Property Id="ARPNOMODIFY" Value="1" />

			<Property Id="WixUI_WelcomeDlg_Next" Value="PrepareDlg" />

			<Property Id="WixUI_VerifyReadyDlg_BackCustom" Value="CustomizeDlg" />
			<Property Id="WixUI_VerifyReadyDlg_BackChange" Value="CustomizeDlg" />
			<Property Id="WixUI_VerifyReadyDlg_BackRepair" Value="MaintenanceTypeDlg" />
			<Property Id="WixUI_VerifyReadyDlg_BackRemove" Value="MaintenanceTypeDlg" />
			<Property Id="WixUI_VerifyReadyDlg_BackTypical" Value="SetupTypeDlg" />
			<Property Id="WixUI_VerifyReadyDlg_BackFeatureTree" Value="CustomizeDlg" />
			<Property Id="WixUI_VerifyReadyDlg_BackComplete" Value="CustomizeDlg" />

			<Property Id="WixUI_MaintenanceWelcomeDlg_Next" Value="MaintenanceTypeDlg" />

			<Property Id="WixUI_MaintenanceTypeDlg_Back" Value="MaintenanceWelcomeDlg" />
			<Property Id="WixUI_MaintenanceTypeDlg_Change" Value="CustomizeDlg" />
			<Property Id="WixUI_MaintenanceTypeDlg_Repair" Value="VerifyReadyDlg" />
			<Property Id="WixUI_MaintenanceTypeDlg_Remove" Value="VerifyReadyDlg" />

			<Binary Id="WixUI_Bmp_Banner" SourceFile="include\BannerStatic.jpg" />
			<Binary Id="WixUI_Bmp_Dialog" SourceFile="include\DialogStatic.jpg" />
			<Binary Id="WixUI_Ico_Exclam" SourceFile="include\Exclam.ico" />
			<Binary Id="WixUI_Ico_Info" SourceFile="include\info.ico" />
			<Binary Id="WixUI_Bmp_New" SourceFile="include\New.ico" />
			<Binary Id="WixUI_Bmp_Up" SourceFile="include\Up.ico" />

			<UIText Id="AbsentPath" />
			<UIText Id="bytes" Value="$(loc.UITextbytes)" />
			<UIText Id="GB" Value="$(loc.UITextGB)" />
			<UIText Id="KB" Value="$(loc.UITextKB)" />
			<UIText Id="MB" Value="$(loc.UITextMB)" />
			<UIText Id="MenuAbsent" Value="$(loc.UITextMenuAbsent)" />			<UIText Id="MenuAdvertise" Value="$(loc.UITextMenuAdvertise)" />
			<UIText Id="MenuAllCD" Value="$(loc.UITextMenuAllCD)" />
			<UIText Id="MenuAllLocal" Value="$(loc.UITextMenuAllLocal)" />
			<UIText Id="MenuAllNetwork" Value="$(loc.UITextMenuAllNetwork)" />
			<UIText Id="MenuCD" Value="$(loc.UITextMenuCD)" />
			<UIText Id="MenuLocal" Value="$(loc.UITextMenuLocal)" />
			<UIText Id="MenuNetwork" Value="$(loc.UITextMenuNetwork)" />
			<UIText Id="ScriptInProgress" Value="$(loc.UITextScriptInProgress)" />
			<UIText Id="SelAbsentAbsent" Value="$(loc.UITextSelAbsentAbsent)" />
			<UIText Id="SelAbsentAdvertise" Value="$(loc.UITextSelAbsentAdvertise)" />
			<UIText Id="SelAbsentCD" Value="$(loc.UITextSelAbsentCD)" />
			<UIText Id="SelAbsentLocal" Value="$(loc.UITextSelAbsentLocal)" />
			<UIText Id="SelAbsentNetwork" Value="$(loc.UITextSelAbsentNetwork)" />
			<UIText Id="SelAdvertiseAbsent" Value="$(loc.UITextSelAdvertiseAbsent)" />
			<UIText Id="SelAdvertiseAdvertise" Value="$(loc.UITextSelAdvertiseAdvertise)" />
			<UIText Id="SelAdvertiseCD" Value="$(loc.UITextSelAdvertiseCD)" />
			<UIText Id="SelAdvertiseLocal" Value="$(loc.UITextSelAdvertiseLocal)" />
			<UIText Id="SelAdvertiseNetwork" Value="$(loc.UITextSelAdvertiseNetwork)" />
			<UIText Id="SelCDAbsent" Value="$(loc.UITextSelCDAbsent)" />
			<UIText Id="SelCDAdvertise" Value="$(loc.UITextSelCDAdvertise)" />
			<UIText Id="SelCDCD" Value="$(loc.UITextSelCDCD)" />
			<UIText Id="SelCDLocal" Value="$(loc.UITextSelCDLocal)" />
			<UIText Id="SelChildCostNeg" Value="$(loc.UITextSelChildCostNeg)" />
			<UIText Id="SelChildCostPos" Value="$(loc.UITextSelChildCostPos)" />
			<UIText Id="SelCostPending" Value="$(loc.UITextSelCostPending)" />
			<UIText Id="SelLocalAbsent" Value="$(loc.UITextSelLocalAbsent)" />
			<UIText Id="SelLocalAdvertise" Value="$(loc.UITextSelLocalAdvertise)" />
			<UIText Id="SelLocalCD" Value="$(loc.UITextSelLocalCD)" />
			<UIText Id="SelLocalLocal" Value="$(loc.UITextSelLocalLocal)" />
			<UIText Id="SelLocalNetwork" Value="$(loc.UITextSelLocalNetwork)" />
			<UIText Id="SelNetworkAbsent" Value="$(loc.UITextSelNetworkAbsent)" />
			<UIText Id="SelNetworkAdvertise" Value="$(loc.UITextSelNetworkAdvertise)" />
			<UIText Id="SelNetworkLocal" Value="$(loc.UITextSelNetworkLocal)" />
			<UIText Id="SelNetworkNetwork" Value="$(loc.UITextSelNetworkNetwork)" />
			<UIText Id="SelParentCostNegNeg" Value="$(loc.UITextSelParentCostNegNeg)" />
			<UIText Id="SelParentCostNegPos" Value="$(loc.UITextSelParentCostNegPos)" />
			<UIText Id="SelParentCostPosNeg" Value="$(loc.UITextSelParentCostPosNeg)" />
			<UIText Id="SelParentCostPosPos" Value="$(loc.UITextSelParentCostPosPos)" />
			<UIText Id="TimeRemaining" Value="$(loc.UITextTimeRemaining)" />
			<UIText Id="VolumeCostAvailable" Value="$(loc.UITextVolumeCostAvailable)" />
			<UIText Id="VolumeCostDifference" Value="$(loc.UITextVolumeCostDifference)" />
			<UIText Id="VolumeCostRequired" Value="$(loc.UITextVolumeCostRequired)" />
			<UIText Id="VolumeCostSize" Value="$(loc.UITextVolumeCostSize)" />
			<UIText Id="VolumeCostVolume" Value="$(loc.UITextVolumeCostVolume)" />
		</UI>
	</Fragment>
</Wix>
