<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE chapter SYSTEM "../../../dtd/dblite.dtd">
<chapter id="tsvn-serversetup" xmlns:xi="http://www.w3.org/2001/XInclude">
	<title>Setting Up A Server</title>
	<simplesect>
		<para>
			To use TortoiseGit (or any other Git client), you need a place where your 
			repositories are 	located. You can either store your repositories locally and access 
			them using the <literal>file://</literal> protocol or you can place them on a 
			server and access them with the <literal>http://</literal> or 
			<literal>svn://</literal> protocols.  The two server protocols can also be 
			encrypted. 
			You use <literal>https://</literal> or <literal>svn+ssh://</literal>.
			This chapter shows you step by step on how you can set up
			such a server on a Windows machine.
		</para>
		<para>
			More detailed information on the Git server options, and how
			to choose the best architecture for your situation, can be
			found in the Git book under
			<ulink url="http://svnbook.red-bean.com/en/1.5/svn.serverconfig.html">
				<citetitle>Server Configuration</citetitle>
			</ulink>.
		</para>
		<para>
			If you don't have a server and you work alone then local repositories are 
			probably your best choice. You can skip this chapter and go directly to
			<xref linkend="tsvn-repository"/>.
		</para>
		<para>
			If you were thinking about setting up a multi-user repository on a network
			share, think again. Read <xref linkend="tsvn-repository-local-share"/>
			to find out why we think this is a bad idea.
		</para>
	</simplesect>
	<!-- ================================================================= -->
	<!-- include external entity refs -->
	<xi:include href="./server_apache.xml"/>
	<xi:include href="./server_svn.xml"/>
</chapter>
