[GENERAL]
#* File name of project template file
templateFile = config/ogdf.vcproj.vs2008.template
#* File name of created project file
projectFile = ogdf.vcproj
#* the option below does not work in public releases,
#* as the solver is non-GPL. Please use COIN instead! 
useOwnLpSolver = false

[COIN]
#* set to "true" to use COIN
useCoin = false
coinIncl = C:/somewhere/COIN/include
coinLib = C:/somewhere/COIN/lib

#* Select your solver for COIN
#* CPLEX:
# solver_name = COIN_OSI_CPX
# solver_incl = C:/somewhere/ILOG/cplex90/include/ilcplex
#* Coin's CLP:
# solver_name =  COIN_OSI_CLP
# solver_incl = 
#* Coin's Symphony
# solver_name =  COIN_OSI_SYM
# solver_incl = C:/home/plug/COIN/SYMPHONY/include
